body {
  margin: 0px;
  background-color: #7C7C7C;

  div.generalHeader{
    width: 100%;
    height: 110px;
    background-color: #3399FF;
  }

  div.options{
    width: 100%;
    margin-top: 0.5% !important;
  }
}