<div class="presentationData" ng-show="!start">
	<div class="centralContainer">
		<div class="presentationLogo md-whiteframe-z1">
			<img ng-src="../images/games/13.png"></img>
		</div>
		<div class="presentationInfo" layout="column">
			<div class="informationPresentation md-whiteframe-z1"><p>Información:</p></div>
			<div class="presentationSeparator"></div>
			<div class="informationPresentation md-whiteframe-z1"><p>Total preguntas: {{questionsQuantity}}</p></div>
			<div class="presentationSeparator"></div>
			<div class="informationPresentation md-whiteframe-z1"><p>Preguntas jugables: 10</p></div>
			<div class="presentationSeparator"></div>
			<div class="informationPresentation md-whiteframe-z1"><p>Dificultad más alta: Gamer</p></div>
		</div>
		<div class="presentationOptions">
			<div class="buttons enter md-whiteframe-z1" ng-click="goIn()"></div>
			<div class="buttons leave md-whiteframe-z1" ng-click="goBack()"></div>
		</div>
	</div>
</div>



<div class="globalTriviaContainer" ng-show="start">
	<div class="triviaTitle md-whiteframe-z1">
		<div class="gameLogo">
			<img ng-src="../images/games/1.png"></img>
		</div>
	</div>

	<div class="interactiveDisplayContainer" layout="row">

		<div class="dataInfo" flex="35">
			<div class="textToAnswer md-whiteframe-z1">

				<p>{{pregunta.enunciado}}</p>

			</div>
		</div>

		<div class="dataAnswers" flex="65">
			<div class="anwsersContainer md-whiteframe-z1">
				<div class="speedInfo md-whiteframe-z1" layout="row">
					<div class="speedText" flex="80" style="background-color: pink;">
						<div style="background-color: orange; height:50%; width: 100%;">
							<span>Pregunta 1/10</span>
						</div>
						<div style="background-color: cyan; height:50%; width: 100%;">
							<span>Dificultad: Gamer</span>
						</div>

					</div>


					<div class="time" flex="20" style="background-color: green; text-align: center;" layout="column">
						<h1>10</h1>
					</div>
				</div>

				<div class="buttons">

					<md-grid-list md-cols="2" md-row-height="1:0.65" md-gutter="12px">

				      <md-grid-tile class="md-whiteframe-z1" md-rowspan="1" md-colspan="1" style="background-color: #0099FF; background-image: url(); background-size: 100% 100%;">

				        <p>{{pregunta.respuestaFalsa1}}</p>

				        <md-grid-tile-footer>
				          <h3>#1: (3r x 2c)</h3>
				        </md-grid-tile-footer>
				      </md-grid-tile>

				      <md-grid-tile class="md-whiteframe-z1" md-rowspan="1" md-colspan="1" style="background-color: #0099FF; background-image: url(); background-size: 100% 100%;">

				        <p>{{pregunta.respuestaFalsa2}}</p>

				        <md-grid-tile-footer>
				          <h3>#1: (3r x 2c)</h3>
				        </md-grid-tile-footer>
				      </md-grid-tile>

				      <md-grid-tile class="md-whiteframe-z1" md-rowspan="1" md-colspan="1" style="background-color: #0099FF; background-image: url(); background-size: 100% 100%;">

				        <p>{{pregunta.respuestaFalsa3}}</p>

				        <md-grid-tile-footer>
				          <h3>#1: (3r x 2c)</h3>
				        </md-grid-tile-footer>
				      </md-grid-tile>

				      <md-grid-tile class="md-whiteframe-z1" md-rowspan="1" md-colspan="1" style="background-color: #0099FF; background-image: url(); background-size: 100% 100%;">

				        <p>{{pregunta.respuestaCorrecta}}</p>

				        <md-grid-tile-footer>
				          <h3>#1: (3r x 2c)</h3>
				        </md-grid-tile-footer>
				      </md-grid-tile>

				    </md-grid-list>


				</div>
				

			</div>
		</div>

	</div>
</div>




