<div class="globalTriviaContainer">
	<div class="triviaTitle md-whiteframe-z1"></div>

	<div class="interactiveDisplayContainer" layout="row">

		<div class="dataInfo" flex="35">
			<div class="textToAnswer md-whiteframe-z1">

				<p>Hola Mundo</p>

			</div>
		</div>

		<div class="dataAnswers" flex="65">
			<div class="anwsersContainer md-whiteframe-z1">
				<div class="speedInfo md-whiteframe-z1" layout="row">
					<div class="speedText" flex="80" style="background-color: pink;">
						<div style="background-color: orange; height:50%; width: 100%;">
						</div>
						<div style="background-color: blue; height:50%; width: 100%;">
						</div>

					</div>


					<div class="time" flex="20" style="background-color: green; text-align: center;" layout="column">
						<h1>10</h1>
					</div>
				</div>

				<div class="buttons">
					<div class="rightButtons" style="background-color: grey"></div>
					<div class="leftButtons" style="background-color: black"></div>
					<div class="rightButtons" style="background-color: yellow"></div>
					<div class="leftButtons" style="background-color: red"></div>
				</div>
				

			</div>
		</div>

	</div>
</div>




